:root {
  --global-font: inter-var, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
    "Segoe UI Symbol";
  --very-small-font-size: 13.5px;
  --small-font-size: 16px;
  --medium-font-size: 24px;
  --large-font-size: 45px;
  --primary-dark-color: #121212;
  --primary-light-color: white;
  --primary-blue-color: #FF5F00;
  --primary-grey-color: #efefee;
  --global-font-bold: 554;
  --loading-bg: #C7C8CC;
}

body {
  background-color: #F5F5F7;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  padding: 0;
  margin: 0;
}

.loading-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  backdrop-filter: blur(3px);
  position: absolute;
  top: 0;
}

.loading-container img {
  mix-blend-mode: multiply;

}

.nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0.5px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  padding: 15px 2%;
}

.nav-search {
  width: 40%;
  max-width: 500px;
}

.nav-search-small {
  display: none;
  background-color: var(--primary-dark-color);
  color: var(--primary-light-color);
  border-radius: 3px;
  font-size: 20px;
  font-weight: var(--global-font-bold);
  height: 35px;
  width: 35px;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.search-bar-small {
  display: none;
  position: absolute;
  top: 65px;
  left: 0;
}

.search-bar {
  width: 50%;
}

.clear-search {
  position: absolute;
  right: 0;
  font-size: 20px;
  padding: 0 10px;
  color: rgba(0, 0, 0, 0.425);
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.search-bar-small {
  width: 100%;
}

.search-bar form {
  display: flex;
  width: 100%;
  margin: auto;
  height: 35px;
  position: relative;
}

.search-bar input {
  background-color: #eaebeb8f;
  background-color: #f0f5ff;
  width: 100%;
  border: 1px solid rgb(41, 151, 255);
  outline: none;
  border-radius: 3px;
  padding-left: 10px;
}

.cross-for-search-bar {
  font-size: 27px;
  height: 100%;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  border-radius: 3px;
  color: var(--primary-light-color);
  background-color: rgb(41, 151, 255);
}

.search-bar input:focus {
  outline: 2px solid rgba(41, 152, 255, 0.637);
  border: 1px solid rgb(41, 151, 255);
}

.nav-links {
  display: flex;
}

.nav-brand img {
  width: 50px;
  mix-blend-mode: darken;
}

.nav-brand a {
  font-size: var(--medium-font-size);
  color: var(--primary-dark-color);
  font-weight: 900;
  letter-spacing: -0.15px;
}

.location {
  height: 35px;
  width: 35px;
  margin-right: 15px;
}

.location-link {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: var(--primary-light-color);
  background-color: var(--primary-dark-color);
  border-radius: 3px;
}

.nav-start {
  height: 35px;
}

.nav-start-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 13px;
  background-color: var(--primary-dark-color);
  color: var(--primary-light-color);
  border-radius: 3px;
  font-size: 20px;
  font-weight: var(--global-font-bold);
  height: 100%;
  display: block;
}

.nav-start-link-small {
  display: none;
  height: 35px;
  width: 35px;
  justify-content: center;
  align-items: center;
}

.nav-cart-link {
  position: relative;
  margin-right: 15px;
  font-size: 20px;
  display: flex;
  height: 35px;
  width: 35px;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-dark-color);
  color: var(--primary-light-color);
  border-radius: 3px;
}

.nav-cart-link svg {
  width: 40px;
  height: 30px;
}

.cart-items-count {
  position: absolute;
  right: -8px;
  top: -8px;
  color: white;
  padding: 3px;
  background-color: var(--primary-blue-color);
  height: 20px;
  width: 20px;
  text-align: center;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-radius: 50%;
}

.main {
  margin-top: 60px;
}

.gutter {
  max-width: 1400px;
  margin: auto;
  width: 100%;
}

.categories-container {
  margin-top: 70px;
}

.category-list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.category-list .category-list-item {
  justify-self: center;
  padding: 10px 0;
  width: 90px;
}

.category-item-link {
  display: block;
  position: relative;
}

.category-item-link:hover .category-item-name {
  color: var(--primary-blue-color);
}

.category-poster {
  width: 100%;
  height: 90px;
}

.category-item-name {
  text-align: center;
  color: var(--primary-dark-color);
  font-size: 15px;
  word-wrap: break-word;
  font-weight: var(--global-font-bold);
}

.category-item-name i {
  font-size: 10px;
}

.hidden-options {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.29) 0px 0.5px 10px;
  transition: all 0.6s;
  height: 0;
  overflow: hidden;
  z-index: 99;
  background-color: var(--primary-light-color);
  top: 99%;
  opacity: 0;
  width: 130px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.hidden-options-list {
  padding: 0;
}

.hidden-list-item {
  margin: 5px 0;
}

.hidden-list-link {
  color: var(--primary-dark-color);
  display: block;
  text-align: center;
  padding: 5px 0;
  margin: 4px 0;
  font-size: 14px;
  font-weight: 500;
}

.hidden-list-link:hover {
  color: var(--primary-blue-color);
  background-color: #f0f5ff;
}

.category-item-link:hover .hidden-options {
  height: auto;
  opacity: 1;
  overflow: show;
}

.banner-link {
  display: block;
}

.banner img {
  width: 100%;
  height: 400px;
}

.slick-list {
  height: 355px !important;
}

.slick-arrow {
  height: 50px !important;
  width: 50px !important;
  display: block;
  position: absolute !important;
  z-index: 99 !important;
}

.slick-arrow::before {
  margin: auto !important;
  display: block !important;
  font-size: 50px !important;
  height: 100% !important;
  width: 100% !important;
  color: var(--primary-blue-color) !important;
}

.slick-prev {
  left: 1% !important;
}

.slick-prev::before {
  font-weight: 900;
}

.slick-next {
  right: 1% !important;
}

.slick-next::before {
  font-weight: 900;
}

.slick-dots li button::before {
  font-size: 10px !important;
}

.jewelry-skin-men-women-fragrance {
  display: flex;
  height: 600px;
  margin-top: 50px;
}

.j-s-m-w-f-first>a {
  padding: 1%;
  border-radius: 2px solid var(--primary-grey-color);
  border-radius: 1%;
  border: 1px solid #c6b8b8;
  margin: 10px 10px 0 0;
  background-color: white;
  display: block;
  color: var(--primary-dark-color);
}

.j-s-m-w-f-first>a:first-child,
.j-s-m-w-f-first>a:nth-child(2) {
  margin-top: 0;
}

.jewelry-skin-men-women-fragrance img {
  width: 100%;
  border-radius: 1%;
}

.j-s-m-w-f-first {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  width: 100%;
  background-color: var(--primary-grey-color);
}

.j-s-m-w-f-first img {
  height: 250px;
}

.j-s-m-w-f-first h1 {
  font-size: 18px;
  margin: 10px 0 0 0;
  font-weight: var(--global-font-bold);
}

.fragrance-poster {
  height: 100%;
  display: block;
}

.j-s-m-w-f-second {
  width: 100%;
}

.j-s-m-w-f-second img {
  height: 100%;
  border-radius: 0;
}

.j-s-m-w-f-first-small {
  display: none;
}

.carousel-heading-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-more {
  display: flex;
  align-items: center;
}

.show-more a {
  font-size: 24px;
  margin-right: 10px;
  color: var(--primary-blue-color);
}

.carousel-heading h1 {
  font-size: 24px;
  font-weight: var(--global-font-bold);
  margin: 0;
}

.variable-width .slick-slide {
  margin: 0 10px !important;
}

.product-card-container {
  position: relative;
  max-width: 235px;
  width: 100%
}

.product-card {
  display: block;
  color: var(--primary-dark-color);
  padding: 10px;
  border: 1px solid #A8A196;
  background-color: #F7F7F7;
  border-radius: 5px;
}

.add-to-cart {
  position: absolute;
  top: 5px;
  right: 6px;
  border-radius: 4px;
}

.add-to-book {
  left: 6px;
  top: 5px;
  padding: 5px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  right: 0;
}

.add-to-book i {
  font-size: 22px;
  color: #cbcbcb;
}

.item-in-book {
  color: var(--primary-blue-color) !important;
}

.add-to-cart svg {
  width: 35px;
  height: 35px;
}

.add-to-cart-svg-path {
  fill: #cbcbcb;
}

.item-in-cart {
  fill: var(--primary-blue-color) !important;
}

.product-title-container {
  margin-top: 8px;
}

.product-title-container p {
  line-height: 16px;
  margin-bottom: 5px;
  font-weight: var(--global-font-bold);
}

.product-rating-container {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  padding: 1px 5px;
  border-radius: 3px;
  font-weight: var(--global-font-bold);
  background-color: var(--primary-blue-color);
  color: var(--primary-light-color);
  margin: 5px 0;
}

.product-rating-container i {
  font-size: 11px;
  margin-right: 4px;
}

.original-discount-price-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.product-price-detail i {
  font-size: 13px;
}

.discount-price {
  font-weight: var(--global-font-bold);
  color: var(--primary-dark-color);
}

.original-price {
  color: #947b7b;
  position: relative;
}

.original-price:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;

  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.discount {
  color: var(--primary-blue-color);
  font-weight: var(--global-font-bold);
}

.product-card:hover {
  color: var(--primary-blue-color);
}

.sign-container {
  text-align: center;
}

.sign {
  height: calc(100vh - 70px);
  flex-direction: column;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.sign span {
  font-weight: 900;
  color: var(--primary-blue-color);
  font-size: 20px;
}

.sign h1 {
  font-weight: 700 !important;
}

.sign p {
  margin: 0;
  font-weight: 550 !important;
}

.sign-up-link {
  font-weight: 550;
}


.sign form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.password-field-container {
  max-width: 400px;
  width: 100%;
  position: relative;
}

.hide-field {
  display: none;
}

.password-field-container i {
  position: absolute;
  right: 10px;
  top: 10px;
  color: var(--primary-blue-color);
}

.sign-container input {
  display: block;
  margin-bottom: 15px;
  max-width: 400px;
  width: 100%;
  height: 35px;
  border: 1px solid rgb(41, 151, 255);
  border-radius: 3px;
  background-color: #f0f5ff;
  font-weight: 550;
}

.sign-container input:focus {
  outline: 2px solid rgba(41, 152, 255, 0.79);
}

.sign-submit-btn {
  background: var(--primary-dark-color);
  color: white;
  padding: 5px 10px;
  border: none;
  font-weight: 550;
  border-radius: 3px;
}

.log-out-delete {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.log-out-btn,
.delete-account-btn {
  border: none;
  font-size: 18px;
  padding: 3px 8px;
  cursor: pointer;
  color: var(--primary-grey-color);
  border-radius: 3px;
  font-weight: var(--global-font-bold);
  width: 130px;
}

.profile-super-container {
  height: 100vh;
  background-image: url('../src/Assets/profileBg.svg');
  background-attachment: fixed;
}

.log-out-btn {
  background-color: #0d6efd;
}

.delete-account-btn {
  background-color: rgb(216, 21, 21);
}

.orders-books-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.order-btn,
.books-btn {
  display: block;
  border: none;
  font-size: 18px;
  width: 130px;
  padding: 3px 8px;
  cursor: pointer;
  color: var(--primary-grey-color);
  border-radius: 3px;
  font-weight: var(--global-font-bold);
}

.order-btn {
  background-color: #00CC33;
}

.books-btn {
  background-color: #7e57c2;
}

.product-container {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.product-item {
  max-width: 235px;
  width: 100%;
  display: block;
  color: black;
  border: 1px solid grey;
  background-color: #F7F7F7;
  padding: 10px;
}

.product-item:hover .item-desc-title {
  color: var(--primary-blue-color);
}

.product-item img {
  width: 100%;
  height: 215px;
}

.item-desc-title {
  font-weight: var(--global-font-bold);
  font-size: 18px;
  margin-top: 10px;
  height: 25px;
  overflow: hidden;
}

.item-desc-desc {
  height: 45px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100;
  font-size: 14px;
  color: #3C3633;
}

.cart-item {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  color: black;
}
.cart-item-order-count{
  font-weight: 500;
  font-size:17.5px;
}
.cart-item-order-count-small{
  display: none;
  font-weight: 550;
}
.cart-item>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item-poster img {
  width: 100px;
  height: 100px;
  border-radius: 3%;
}

.cart-item-name {
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart-item-title-small,
.cart-item-title {
  font-size: 16px;
  font-weight: var(--global-font-bold);
  margin: 0;
  height: 45px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 5px;
}

.cart-item-title-small {
  display: none;
}

.cart-item-count-small {
  display: none;
}

.cart-item-count i.count-i {
  padding: 8px;
  color: white;
  background-color: var(--primary-blue-color);
  border-radius: 2px;
  cursor:pointer;
}

.cart-item-count-span {
  display: inline-flex;
  justify-content: center;
  width: 30px;
}

.cart-item-price {
  font-size: 20px;
  width: 100px;
}

.cart-item-price-small {
  display: none;
}

.cart-item-price-span {
  font-size: 18px;
  font-weight: 550;
}

.cart-item-price i {
  font-size: 15px;
  margin-right: 4px;
}

.cart-item-border-bottom {
  border: 1px solid #2d23233d;
  margin: 20px 0;
}


.cart-item-remove-small {
  display: none;
}


.cart-item-remove i {
  padding: 8px;
  background-color: #F00;
  color: white;
  border-radius: 4px;
  font-size: 20px;
  cursor:pointer;
}

.summary-container h3 {
  text-align: left !important;
}

.summary-container {
  text-align: center;
  padding: 10px;
}

.summary-container h3 {
  font-size: 19px;
  font-weight: var(--global-font-bold);
}

.sub-total-container,
.grand-total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-total-head {
  font-size: 23px;
  font-weight: 700;
}

.sub-total-container h4,
.grand-total-container h4 {
  font-size: 17px;
  font-weight: var(--global-font-bold);
}

.summary-border {
  margin: 10px 0 !important;
}

.checkout-btn {
  border: none;
  padding: 8px 10px;
  background-color: var(--primary-blue-color);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 3px;
  width: 100%;
  margin: 0px 0 0 10px;
  display: inline;
  cursor: pointer
}

.shopping-btn {
  background-color: black;
}

.checkout-btn i {
  font-size: 14px;
}

.enter-address {
  text-align: left;
  margin-bottom: 15px;
  display: block !important;

}

.enter-address:hover {
  text-decoration: underline solid 1px var(--primary-blue-color);
}

.payment-heading {
  padding: 0 10px;
  font-weight: 550;
}

.payment-method-container p {
  color: #0e6efdbf;
  font-size: 19px;
  font-weight: 400;
}

.online-payment {
  margin-bottom: 5px;
  display: inline-block;
}

.online-payment,
.cash-on-delivery {
  cursor: pointer;
  font-weight: 550;
}

.online-payment-head {
  padding: 0 10px;
}

.online-payment-head h4 {
  color: #0d6efd;
  font-weight: 550;
}

.cash-on-delivery {
  display: inline-block;
}

.progress-event {
  margin: 20px 0 20px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.event-dot-container {
  position: relative;
  width: 80px;
}

.event-line {
  position: absolute;
  top: 12px;
  left: 51px;
  width: 88px;
  border: 1px solid grey;

}

.active-line {
  border: 1px solid var(--primary-blue-color);
}

.event-dot {
  display: inline-block;
  height: 11px;
  width: 10px;
  border-radius: 50%;
  background-color: grey;
  outline: 3px solid grey;
  outline-offset: 5px;
}

.active-dot {
  background-color: var(--primary-blue-color);
  outline: 3px solid var(--primary-blue-color);
}

.event-text {
  font-size: 14px;
  text-align: center;
}

.order-placed-banner {
  height: 300px;
  background-color:
    #0BDA51;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  border-radius: 8px;
  margin: 0 10px 0 10px;
}

.order-placed-banner h1 {
  font-weight: var(--global-font-bold);
  text-align: center;
}

.product-info-container {
  display: flex;
}

.product-info-container>div {
  width: 100%;
}

.product-original-price-slash {
  position: relative;
}

.product-original-price-slash:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;

  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.product-info-title h3 {
  font-weight: 600;
  margin: 0;
}

.product-info-info {
  font-size: 20px;
}

.original-discount-price {
  display: flex;
}

.original-price-slash {
  position: relative;
}

.original-price-slash:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;

  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.original-discounted-price {
  display: flex;
  column-gap: 10px;
}

.payment-poster-text-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: calc(100vh - 70px);
}

.payment-success-poster {
  display: block;
  margin: auto;
  width: 300px;
  width: 100%;
  max-width: 300px;
  padding: 0 20px;
  mix-blend-mode: darken;
}

.payment-success-text {
  margin-top: 30px;
}

.payment-success-text h2 {
  text-align: center;
  font-weight: 700;
  color: #272829;
  font-size: 28px;
  padding: 0 10px;
}

.back-to-home-after-payment {
  display: flex;
  justify-content: center;
}

.btn-back-to-home-after-payment,
.no-item-in-cart-keep-shopping-btn {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-weight: 554;
  margin-top: 30px;
  background: var(--bs-blue);
  border-radius: 3px;
  font-size: 20px;
  background: none;
  border: 2px solid black;
  color: black;
}

.no-item-in-cart-keep-shopping-btn {
  border: 2px solid black;
  color: black;

}

.no-item-in-cart-poster-container {
  height: calc(100vh - 140px);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-item-in-cart-poster {
  max-width: 500px;
  width:100%;
  padding: 0 20px;
  display: block;
  filter: grayscale(1)
}

.cancel-order-button-small {
  display: none;
}

.cancel-order-button i {
  font-size: 25px;
  color: #F00;
  cursor: pointer;
  padding: 8px;
  font-size: 26px;
  border-radius: 4px;
}

.cart-item-name-small {
  display: none !important;
  margin: 10px 0;
}

.cart-item-name-small h3,
.cart-item-name h3 {
  margin: 0;
  font-weight: 550;
}

.cart-item-name-name {
  font-size: 16px;
}

.summary-item-price-container {
  display: none;
}

.summary-price-count-container {
  font-weight: 550;
  font-size: 19px;
}

.display-product-container {
  display: flex;
  height: 540px;
}

.display-product-container-small {
  display: none;
}

.display-product-images {
  width: 60px;
}

.display-product-small-image {
  width: 100%;
  padding: 2px;
  border: 1.3px solid grey;
  height: 65px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.display-product-small-image img {
  width: 100%;
  height: 100%;
}
.display-product-info {
  width: calc(100% - 540px - 60px);
  flex-direction: column;
  row-gap: 5px;
  display: flex;
  overflow-y: scroll;
}

.review-container-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 0;
}

.display-product-reviews {
  margin-top: 8px;
}

.reviewer-name-container {
  font-weight: 550;
  color: black;
}

.review-date-container {
  color: grey;
  font-size: 14px;
}

.review-comment-container {
  color: black;
}

.display-product-poster {
  max-width: 540px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-items: space-around;
  flex-direction: column;
  row-gap: 10px;
  max-height: 540px;
  height: 100%;
  padding: 0 20px;
}

.display-product-poster img {
  max-width: 300px;
  width: 100%;
  display: block;
  margin: auto;
  max-height: 480px;
}

.display-product-title h1 {
  font-size: 23px;
  font-weight: 554;
}

.display-product-description h3 {
  color: black;
  font-weight: 400;
  font-size: 17.5px;
}

.display-product-rating-review {
  display: flex;
}

.display-product-star {
  width: 50px;
  background: #388e3c;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 554;
  align-items: center;
  border-radius: 2px;
}

.display-product-star i {
  font-size: 10px;
  margin-left: 3px;
}

.display-product-rating,
.display-product-review,
.display-product-and {
  margin-left: 15px;
  font-weight: 554;
  color: grey;
}

.display-product-pricing {
  display: flex;
  align-items: flex-end;
}

.display-product-pricing div:not(:first-child) {
  margin-left: 15px;
}

.display-product-price-after-discount {
  font-size: 30px;
  font-weight: 554;
  margin-bottom: -5px;
}

.display-product-price-after-discount i {
  font-size: 25px;
}


.display-product-price-before-discount {
  font-size: 19px;
  color: grey;
  font-weight: 554;
}

.display-product-price-before-discount i {
  color: grey;
  font-size: 17px;
}

.display-product-price-before-discount {
  display: inline-block;
  position: relative;
}

.display-product-price-before-discount::before {
  content: '';
  position: absolute;
  left: -0.1em;
  right: -0.1em;
  top: 0.38em;
  bottom: 0.38em;
  background: linear-gradient(to left top, transparent 45.5%, currentColor 47.5%, currentColor 52.5%, transparent 54.5%);
  pointer-events: none;
}

.display-product-price-discount {
  font-weight: 554;
  font-size: 18px;
  color: #00CC33;
}

.display-product-heading-key {
  font-weight: 700;
  font-size: 18px;
}

.display-product-structure-table td {
  border: 2px solid black;
  width: 150px;
  text-align: center;
}

.td-key {
  font-weight: 550;
  color: black;

}

.td-value {
  color: grey;
}

.review-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 15px;
}

.rating-container {
  width: 40px;
  background: #388e3c;
  color: white;
  display: flex;
  justify-content: space-evenly;
  font-size: 14px;
  font-weight: 554;
  align-items: center;
  border-radius: 2px;
}

.rating-container i {
  font-size: 12px;
}

.rating-name-container {
  display: flex;
  gap: 20px;
}

.display-product-order-cart-book {
  display: flex;
  column-gap: 10px;
}
.display-product-order-cart-book-small > div{
  width:100%;
  margin:5px auto;
  max-width: 175px;
}
.display-product-order-qnt-container{
  display: flex;
  height:50px;
  justify-content: space-between;
}
.display-product-order-qnt-input{
  width:40px;
  height: 100%;
  text-align: center;
  font-weight: 700;
  font-size:20px;
  border:none;
  margin: 0 5px;
}
.order-qnt-controller {
  font-size:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width:50px;
  cursor:pointer;
  color:white;
  background-color: purple;
}
.display-product-order-qnt-input::-webkit-outer-spin-button,
.display-product-order-qnt-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.display-product-order-qnt-input {
  -moz-appearance: textfield;
}

.display-product-order,
.display-product-cart,
.display-product-book {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 554;
  color: wheat;
  cursor: pointer;
}

.display-product-order {
  background-color: #00CC33;
}

.display-product-cart {
  background-color: var(--primary-blue-color);
}

.display-product-book {
  background-color: #FC2947;
}

.display-product-related-products {
  margin-top: 50px;
}

.active-small-image {
  border: 2px solid var(--primary-blue-color);
}

/* Track */
.display-product-info::-webkit-scrollbar {
  width: 10px;
}

/* Strip */
.display-product-info::-webkit-scrollbar-thumb {
  background: #FF5F00;
  border-radius: 10px;
}

/* Handle on hover */
.display-product-info::-webkit-scrollbar-thumb:hover {
  background: #e05604;
}

/* Track */
.display-product-info::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* LOADING SCREEN */
.exo-product-card-container {
  height: 300px;
  width: 220px;
  margin-top: 20px;
}

.exo-product-thumbnail {
  background-color: var(--loading-bg);
  height: 240px;
  border-radius: 10px;
}

.exo-product-title-container {
  background-color: var(--loading-bg);
  height: 20px;
  border-radius: 10px;
}

.exo-original-discount-price-container {
  display: flex;
  height: 20px;
  margin-top: 10px;
}

.exo-original-discount-price-container>div {
  width: 75px;
  border-radius: 10px;
  background-color: var(--loading-bg);
}

.exo-elements-aligner {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-container {
  margin-top: 50px;

}

.footer-container p {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.footer-container strong {
  font-weight: 900;
}

.socials-container {
  display: flex;
  justify-content: center;
}

.socials-container li:not(:first-child) {
  margin-left: 20px;
}

.socials-container a {
  font-size: 30px;
  color: black;
  transition: all 0.5s;
}


.footer-container i.quote {
  position: relative;
  top: -10px;
  color: var(--primary-blue-color);
}

.footer-container i.quote-to-turn {
  transform: rotateY(180deg);
}

.socials-container a:hover {
  color: rgba(0, 0, 0, 0.599);
}
.error-container, .no-search-results{
  padding: 0 15px;
  position: relative;
}
.error-container strong {
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: #000000;
  font-size: 24px;
  text-align: center;
  padding-right: 20px;
}
.no-search-results strong{
  position:static;
  width:100%;
  text-align: center;
  font-size:24px;
  color:#000000;
  display: block;

}
.error-container img, .no-search-results img{
  max-width: 300px;
    width: 100%;
    margin: auto;
    display: block;
    mix-blend-mode: multiply;
}

@media screen and (max-width:400px) {
  .cart {
    grid-template-columns: repeat(1, 1fr) !important;
    justify-items: center;
  }

}

@media screen and (max-width: 450px) {
  .checkout-btn {
    display: block;
    margin-top: 10px;
    margin-left: 0;
  }

  .banner img {
    height: 350px;
  }

  .carousel-heading h1 {
    font-size: 22px;
  }

  .category-list {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (max-width: 500px) {
  .nav-search {
    display: none;
  }

  .cart-summary-container {
    flex-direction: column;
  }

  .summary-container {
    width: 100%;
    margin-left: 0;
  }
}
@media screen and (max-width: 550px) {
  .display-product-order-cart-book-small{
    flex-direction: column;
  }
  
}

@media screen and (max-width: 600px) {
  .search-bar {
    display: none;
  }

  .nav-search-small {
    display: flex;
  }

  .toggle-display {
    display: block;
    left: 0;
    transition: all 0.5s;
  }

  .nav-start-link {
    display: none;
  }

  .nav-start-link-small {
    display: flex;
  }

  .nav-user-link {
    display: block;
  }

  .banner img {
    width: 100%;
  }

  .cart {
    width: 100%;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .cart-item {
    flex-direction: column;
    border: 1px solid gray;
    max-width: 300px;
    width: 100%;
  }
  .cart-item-order-count {
    display: none !important;
  }
  .cart-item-order-count-small{
    display: block;
  }
  .cart-item-name {
    width: 100% !important;
  }

  .order-item-name-small {
    display: flex !important;
    justify-content: space-between;
  }

  .order-item-name-small h3 {
    font-size: 17px;
  }

  .order-item-name {
    display: none !important;
  }

  .cart-item-title {
    display: none !important;
  }

  .cart-item-title-small {
    width: 100% !important;
    display: flex;
  }

  .cart-item-border-bottom {
    display: none !important;
  }

  .cart-item-price {
    display: none !important;
  }

  .cart-item-price-small {
    display: block;
  }

  .summary-item-price-container {
    display: block;
  }

  .cart-item-poster img {
    width: 100%;
    height: 200px;
  }

  .cart-item-count-small {
    display: block !important;
    margin-top: 10px;
    width: 100%;
  }

  .cart-item-name {
    flex-direction: column;
  }

  .cart-item-remove-container {
    margin-top: 15px;
  }

  .cart-item-remove-small {
    justify-content: center;
    cursor: pointer;
    padding: 5px;
    color: white;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    font-weight: 550;
    font-size: 18px;
    display: flex;
    background: var(--primary-blue-color);
  }

  .cart-item-remove {
    display: none;
  }

  .cancel-order-button {
    display: none;
  }

  .cancel-order-button-small {
    display: flex;
    width: 100%;
    cursor:pointer;
    padding: 7px;
    justify-content: center;
    font-weight: 550;
    color: white;
    background: var(--primary-blue-color);
    border-radius: 4px;
  }

  .summary-item-name {
    justify-content: flex-start !important;
    display: block !important;
    height: 42px;
  }

  .summary-item-name h3 {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .summary-price-count-container {
    font-size: 19px;
    font-weight: 550;
  }

}

.profile-container {
  width: 100%;
  max-width: 400px;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto 0 auto;
  text-align: center;
}

.profile-picture {
  margin: auto;
  height: 100px;
  font-size: 95px;
  border-radius: 3px;
  font-weight: 900;
  background-color: var(--primary-blue-color);
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-data {
  padding: 5px;
  margin-top: 50px;
}

.product-data>div {
  margin-top: 10px;
}

.profile-data-head-value-container {
  display: flex;
}

.data-head {
  font-size: 24px;
  text-align: start;
  width: 130px;
  font-weight: var(--global-font-bold);
}

.data-value {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .category-list .category-list-item {
    width: 70px;
  }

  .category-poster {
    height: 70px;
  }

  .category-list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    row-gap: 30px;
  }

  .category-item-name {
    font-size: 13px;
  }

  .hidden-options,
  .category-item-name i {
    display: none;
  }
}

@media screen and (max-width: 1050px) {
  .jewelry-skin-men-women-fragrance {
    height: auto;
  }

  .j-s-m-w-f-first {
    display: flex;
  }

  .j-s-m-w-f-first>a {
    width: calc(100vw / 4);
    margin: 0px 10px 0 0;
  }

  .j-s-m-w-f-first>a:last-child {
    margin-left: 0;
  }

  .j-s-m-w-f-second {
    display: none;
  }
}

@media screen and (max-width: 750px) {

  .j-s-m-w-f-first {
    display: grid;
    grid-template-columns: auto auto;
  }

  .j-s-m-w-f-first>a {
    width: calc(100vw / 2);
    margin: 10px 10px 0 0;
  }

}

@media screen and (max-width: 350px) {
  .j-s-m-w-f-first {
    display: block;
  }

  .j-s-m-w-f-first>a {
    width: 100%;
    margin: 0 0 10px 0;
  }

}

@media screen and (min-width: 500px) and (max-width: 650px) {
  .product-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 650px) and (max-width: 1050px) {
  .product-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (min-width: 400px) and (max-width: 830px) {
  .product-container {
    /* display: grid; */
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media screen and (max-width:300px) {
  .nav-brand span {
    display: none;
  }

  .display-product-order-cart-book-small {
    flex-direction: column;
    row-gap: 10px;
  }

  .display-product-order-cart-book-small>div {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width:280px) {
  .display-product-pricing-small {
    flex-direction: column;
    align-items: flex-start;
  }

  .display-product-pricing-small>div {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 950px) {
  .display-product-container {
    display: none;
  }

  .display-product-container-small {
    display: block;
  }

  .display-product-image-container-small img {
    max-width: 300px;
    width: 100%;
    height: 350px;
    margin: auto;
  }

  .display-product-order-cart-book-small {
    flex-wrap: wrap;
    margin-top: 55px;
    padding:0 5px;
    justify-content: center;
    text-align: center;
  }

  .display-product-info-small {
    margin-top: 20px;
  }

  .display-product-info-small {
    width: 100%;
    padding: 10px;
  }

  .display-product-description-small h3 {
    font-size: 16px;
  }
}